@{
    ViewBag.Title = "Home";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<div class="container">




    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->

            <h1 class="page-section-heading text-center text-uppercase text-secondary  mb-0"><font size="10" color="black">MBC</font></h1>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />


            <style>
                .column {
                    float: left;
                    width: 48%;
                    padding: 1px;
                }

                img {
                    width: 100%;
                }
            </style>
            <div class="container">
                <div class="column">
                    <div class="column"><img class="img-fluid mb-3 mb-lg-0" src="~/images/33.jpg" alt="imagel" /></div>
                    <div class="column"><img class="img-fluid mb-3 mb-lg-0" src="~/images/55.jpg" alt="image1" /></div>
                    <div class="column"><img class="img-fluid mb-3 mb-lg-0" src="~/images/11.jpg" alt="image1"></div>
                </div>
            </div>
        </div>
    </section>
    <section>

        <center><h1>About</h1></center>
        <p>
            <font face="Arial">
                <center>
                    We are available all time for your service <br>
                    MBC is a new way for you to find a new business <br>
                    not only but for helping you to find what you need in vechile <br>

                </center>
            </font>
        </p>
        <body>
            <a href="/Home/page" class="btn btn-success">Services</a>
        </body>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </section>



</div>
