
@{
    ViewBag.Title = "page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><font color="powderblue">MBC for your service</font></h1>
<!DOCTYPE html>
<html>

<head>


    <style>
        body {
            text-align: center;
        }

        button {
            color: Darkgoldenrodyellow;
            font-size: 30px;
        }

        .b1 {
            background-color: cornflowerblue;
        }

        .b2 {
            background-color: cornflowerblue;
        }

        .b3 {
            background-color: cornflowerblue;
        }
    </style>
</head>

<body style="width:1500px; height:900px;" background="~/images/150.jpg">


    <a href="/Home/Show" class="btn btn-success">Show </a>
    <br>
    <br>
    <br>
    <a href="/Home/Show1" class="btn btn-success">Rent </a>
    <br>
    <br>
    <br>
    <a href="/Home/Index" class="btn btn-success">Back </a>
</body>
</html>

