
@{
    ViewBag.Title = "Rent_Car_With_driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rent_Car With Driver</h2>


<body style="background-color:gray">
    <labelfor for="floatingInput" style="width: 80px; height: 60px;" class="b2"><font color="black" size="5" face="Monospace"> Types of Car </font></labelfor>

    <body>
        <select class="combo">
            <option value="Select">Type</option>
            <option value="html">HONDA</option>
            <option value="css">TOYOTA</option>
            <option value="javascript">MITSUBISHI</option>
            <option value="bootstrap">FIAT</option>
            <option value="react">NISSAN</option>
            <option value="vue">MAZDA</option>
            <option value="2">CHEVROLET</option>
            <option value="4">CITROEN</option>
            <option value="5">DAIHATSU</option>
            <option value="6">SUZUKI</option>
            <option value="7">GMC</option>
            <option value="8">HYUNDAI</option>
            <option value="CSS fw">OPEL</option>
            <option value="rw">SKODA</option>
            <option value="dom">FORD</option>
            <option value="preprocessors">AUDI</option>
            <option value="api">JAGUAR</option>
        </select>
        <br />
        <labelfor for="floatingInput" style="width: 80px; height: 60px;" class="b2"><font color="black" size="5" face="Monospace"> Car Offering Time </font></labelfor>



        <body>
            <select class="combo">
                <option value="Select">day</option>
                <option value="html">satarday</option>
                <option value="css">sunday</option>
                <option value="javascript">monday</option>
                <option value="bootstrap">tuesday</option>
                <option value="react">winthday</option>
                <option value="vue">turthday</option>
                <option value="2">friday</option>
            </select>
        </body>

        <body>
            <select class="combo">
                <option value="Select">Month</option>
                <option value="html">january</option>
                <option value="css">february</option>
                <option value="javascript">March</option>
                <option value="bootstrap">April</option>
                <option value="react"> May</option>
                <option value="vue">june</option>
                <option value="2">july</option>
                <option value="4">August</option>
                <option value="5">september</option>
                <option value="6">Octobar</option>
                <option value="7">November</option>
                <option value="8">Decamber</option>

            </select>
        </body>
        <br />
        <br />
        <button style="width: 110px; height: 60px;" class="b3"><font color="black" size="5" face="Monospace">Submit</font></button>
        <button style="width: 110px; height: 60px;" class="b3"><font color="black" size="5" face="Monospace">Cancel</font></button>
        </body>