
@{
    ViewBag.Title = "Rent_Moto_Withoutdriver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rent_Motorcycle Without Driver</h2>

<body style="background-color:gray">
    <labelfor for="floatingInput" style="width: 80px; height: 60px;" class="b2"><font color="black" size="5" face="Monospace"> Types of motorcycle </font></labelfor>
    <input type="email" class="form-control" id="floatingInputValue" placeholder="" value="">
    <labelfor for="floatingInput" style="width: 80px; height: 60px;" class="b2"><font color="black" size="5" face="Monospace"> Liceinse_num </font></labelfor>
    <input type="email" class="form-control" id="floatingInputValue" placeholder="" value="">
    <labelfor for="floatingInput" style="width: 80px; height: 60px;" class="b2"><font color="black" size="5" face="Monospace">Model </font></labelfor>
    <input type="email" class="form-control" id="floatingInputValue" placeholder="" value="">
    <button style="width: 140px; height: 60px;" class="b3"><font color="black" size="12" face="Monospace">Submit</font></button>
    <button style="width: 140px; height: 60px;" class="b3"><font color="black" size="12" face="Monospace">Cancel</font></button>
    </body>