@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>
    <h2><font color="black" size="14" face="Didot">MBC</font></h2>
    <h2><font color="black" size="14" face="Didot">Show</font></h2>
    <a href="/Cars/Create"><img src="~/images/55.jpg" alt="bike" height="181" width="278" /> </a>

    <a href="/Motorcycles/Create"><img src="~/images/33.jpg" alt="bike" height="181" width="278" /> </a>

    <a href="/Bikes/Create"><img src="~/images/11.jpg" alt="bike" height="181" width="278" /> </a>

    <a href="/Home/page" class="btn btn-success">Back</a>
</body>
</html>