@{
    ViewBag.Title = "Show1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<html>
<body>
    <h2><font color="black" size="14" face="Didot">MBC</font></h2>
    <h2><font color="black" size="14" face="Didot">Rent</font></h2>

    <a href="/Home/RentCar"><img src="~/images/55.jpg" alt="bike" height="181" width="278" /> </a>

    <a href="/Home/Rent"><img src="~/images/33.jpg" alt="bike" height="181" width="278" /> </a>

    <a href="/Bike_Operation/Create"><img src="~/images/11.jpg" alt="bike" height="181" width="278" /> </a>

    <a href="/Home/page" class="btn btn-success">Back</a>
</body>
</body>
</html>
