
@{
    ViewBag.Title = "Show_Motorcycle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-color:gray">
    <h2><font size="18" color="black" face="Monospace">Show_Motorcycle</font></h2>
    <labelfor for="floatingInput" style="width: 80px; height: 60px;" class="b2"><font color="black" size="5" face="Monospace"> Types of motorcycle </font></labelfor>
    <input type="email" class="form-control" id="floatingInputValue" placeholder="" value="">
    <br />
    <labelfor for="floatingInput" style="width: 80px; height: 60px;" class="b2"><font color="black" size="5" face="Monospace"> Model of Motorcycle  </font></labelfor>
    <input type="email" class="form-control" id="floatingInputValue" placeholder="" value="">
    <br />
    <labelfor for="floatingInput" style="width: 80px; height: 60px;" class="b2"><font color="black" size="5" face="Monospace"> Case_Num </font></labelfor>
    <input type="email" class="form-control" id="floatingInputValue" placeholder="" value="">
    <br />
    <labelfor for="floatingInput" style="width: 80px; height: 60px;" class="b2"><font color="black" size="5" face="Monospace"> Liceinse_num </font></labelfor>
    <input type="email" class="form-control" id="floatingInputValue" placeholder="" value="">
    <labelfor for="floatingInput" style="width: 80px; height: 60px;" class="b2"><font color="black" size="5" face="Monospace"> Motorcycle Offering Time </font></labelfor>
    <labelfor for="floatingInput" style="width: 80px; height: 60px;" class="b2"><font color="black" size="3" face="Monospace"> From </font></labelfor>

    <style>
        .combo {
            padding: 10px;
        }
    </style>
    <body>
        <select class="combo">
            <option value="Select">Select</option>
            <option value="html">12:00</option>
            <option value="css">12:30</option>
            <option value="javascript">1:00</option>
            <option value="bootstrap">1:30</option>
            <option value="react">2:00</option>
            <option value="vue">2:30</option>
            <option value="2">3:00</option>
            <option value="4">3:30</option>
            <option value="5">4:00</option>
            <option value="6">4:30</option>
            <option value="7">5:00</option>
            <option value="8">5:30</option>
            <option value="CSS fw">6:00</option>
            <option value="rw">6:30</option>
            <option value="dom">7:00</option>
            <option value="preprocessors">7:30</option>
            <option value="api">8:00</option>
            <option value="9">8:30</option>
            <option value="10">9:00</option>
            <option value="11">9:30</option>
            <option value="12">10:00</option>
            <option value="13">10:30</option>
            <option value="14">11:00</option>
            <option value="15">11:30</option>
        </select>
    </body>
    <labelfor for="floatingInput" style="width: 80px; height: 60px;" class="b2"><font color="black" size="3" face="Monospace"> To</font></labelfor>

    <style>
        .combo {
            padding: 10px;
        }

        .button {
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
        }

            .button:hover {
                background-color: #4CAF50; /* Green */
                color: white;
            }
    </style>
    <body>
        <select class="combo">
            <option value="Select">Select</option>
            <option value="html">12:00</option>
            <option value="css">12:30</option>
            <option value="javascript">1:00</option>
            <option value="bootstrap">1:30</option>
            <option value="react">2:00</option>
            <option value="vue">2:30</option>
            <option value="2">3:00</option>
            <option value="4">3:30</option>
            <option value="5">4:00</option>
            <option value="6">4:30</option>
            <option value="7">5:00</option>
            <option value="8">5:30</option>
            <option value="CSS fw">6:00</option>
            <option value="rw">6:30</option>
            <option value="dom">7:00</option>
            <option value="preprocessors">7:30</option>
            <option value="api">8:00</option>
            <option value="9">8:30</option>
            <option value="10">9:00</option>
            <option value="11">9:30</option>
            <option value="12">10:00</option>
            <option value="13">10:30</option>
            <option value="14">11:00</option>
            <option value="15">11:30</option>
        </select>
    </body>

    <style>
        body {
            text-align: center;
        }

        button {
            color: Darkgoldenrodyellow;
            font-size: 30px;
        }

        .b1 {
            color: cornflowerblue;
        }

        .b2 {
           color: cornflowerblue;
        }
    </style>

    <br>
    <br>
    <button name="button" value="OK" type="button" onclick="hello()"> back</button>
    <br>
    <br>
    <button name="button" value="OK" type="button" onclick="hello()"> Submit</button>
    </body>